body {
    background: linear-gradient(to right, green, blue);
    display: flex;
}
.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
}
.navlist {
    display: flex;
    gap: 20px;
    color: blue;
}