body {
    background: linear-gradient(to right, rgb(187, 187, 187), rgb(145, 145, 230));
    display: flex;
}
.Navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: calc(100-20);
    background: rgb(98, 243, 221);
}
.navlist {
    display: flex;
    gap: 20px;
    color: blue;
}
 