
*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.Profile-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 20vh;
    background: fuchsia;
    gap: 10px;
    margin: 10 auto;
    padding: 5px;
}
h1 {
    align-items: center;
}
img {
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #ffd3ff;
}
nav{
    align-items: center;
    display: flex;
    justify-content: space-between;
    gap: 30px;
    color: blue;
}
.image {
    display: flex;
}
a {
    text-decoration: none;
    align-items: center;
}
.icons {
     padding: 5px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}