*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    margin: 10px;
    background: #ffd3ff;
    height: 20vh;
}
.Profile-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}
h1 {
    align-items: center;
}
img {
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #ffd3ff;
}
.navs{
    align-items: center;
    display: flex;   
}
.image {
    display: flex;
}