*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: rgb(68, 248, 239);
    
}
.container {
    width: 30%;
    background: rgb(20, 70, 43);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 30px auto;
    box-shadow:0px 0px 15px rgba(0, 0, 0, 0.9);
    border-radius: 5px;
    padding: 6px;
}
p {
    color: white;
    margin-top: 2rem;
    font-family: sans-serif;
    word-wrap: break-word;
    line-height: 20px;
    text-align: center;
}
button {
    border: none;
    padding: 5px;
    border-radius: 3px;
    background: rgb(68, 248, 239) ;
    cursor: pointer;
    color: rgb(20, 70, 43);
    font-weight: 600;
}