@import "tailwindcss";
@layer utilities {
    .Round {
        animation: rotate 5s linear infinite;
    }
    @keyframes rotate {
        from {
            transform: rotate(0deg);
        }
        to {
            transform: rotate(360deg);
        }
    }
    .links {
        border-radius: 50%;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
        padding: 5px;
        color: blue;
        transition: all 0.3s ease;
    }
    .links:hover {
        cursor: pointer;
        transform: translateY(-3px) scale(1.1);
        background: gainsboro;
    }
}
.mains {
 justify-content: space-between;
}
.myimage {
    border: 2px transparent;
    box-shadow:            0 0 10px rgb(245,9, 131);
    box-shadow: 0 0 10px rgb(73, 232, 120);
    box-shadow: 0 0 10px rgb(29, 61, 239);
    animation: glow 2s linear infinite;
    padding: 5px;
}
@keyframes glow {
    0%, 100% {
        box-shadow: 
            0 0 10px rgb(245,9, 131),
            0 0 10px rgb(73, 232, 120),
            0 0 10px rgb(29, 61, 239);
    }
    50% {
        box-shadow: 
            0 0 10px rgb(245,9, 131),
            0 0 10px rgb(73,  232, 120),
            0 0 10px rgb(29, 61, 239);
    }
}
.Navigation:hover {
    transform: translateY(-3px);
    color: aquamarine;
}
.Navigation::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 4px;
    transition: width 0.3s ease;
    background: linear-gradient(90deg, rgb(51, 241, 102), #cef257);
}
.Navigation:hover::after {
    width: 100%;
}

.job {
  font-family: Verdana;
  font-weight: 900;
}

.job-first {
  font-size: 30px;
  color: black;
}

.job-second {
  font-size: 30px;
  color: rgb(90, 90, 236);
}
